 body{
  font-family:Roboto;
  margin:0px;
}

header{
	display: flex;
	font-family: Roboto;
	font-size: 32px;
  color:#eee;
  background-color:#212121;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin:0px;
  align-items:center;
}

.nav{
   margin-left:auto;
}

.nav-list{
   list-style-type:none;
   display:inline-block;
   font-size:1rem;
   align-items:left;
   margin:0px;
 }

.nav-item{
   display:inline-block;
   padding:30px;
 }

 .nav-item:hover{
   background-color:#31363F;
 }

.active{
   background-color:#76ABAE;
 }

.brand{
  text-decoration:none;
  color:#fff;
  display:inline-block;
  justify-content:center;
  padding:20px;
}

  


.arrow {
  right: 10px;
	bottom: 10px;
 	height: 40px;
	width: 40px;
	border-radius: 33px;
	font-size: 20px;
}


.arrow:hover,.arrow:focus{
	border-radius: 33px;
	font-size: 20px;
  background:#76ABAE;
}

.panel{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  height:px;
 }

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


#tracker-content{
	padding: 16px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.panel{
   display:flex;
   flex-direction:column;
   padding:1rem;
   margin:1rem;
   height:375px;
   width: 375px;
   align-items:center;
 }


#table-info{
  display: flex;
  align-items:center;
}

#date{
	padding: 10px;
	font-size: 30px;
}

#expense-table{
  padding: 10px;
	width: 100%;
  height:300px;
  overflow:hidden;
  overflow-y:scroll;
  

}

#expense-div{
	display: inline-flex;
	flex-direction: column;
  width: 300px;
  height:300px;
  overflow:hidden;
  overflow-y:scroll;
}

.hidden {
	display: none;
}

.user-input{
   padding:5px;
 }

.input-field{
   text-align:end;
 }
