 body{
  font-family:Roboto;
  margin:0px;
}

header{
	display: flex;
	font-family: Roboto;
	font-size: 32px;
  color:#eee;
  background-color:#212121;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin:0px;
  align-items:center;
}

.nav{
   margin-left:auto;
}

.nav-list{
   list-style-type:none;
   display:inline-block;
   font-size:1rem;
   align-items:left;
   margin:0px;
 }

.nav-item{
   display:inline-block;
   padding:30px;
 }

 .nav-item:hover{
   background-color:#31363F;
 }

.active{
   background-color:#76ABAE;
 }

.brand{
  text-decoration:none;
  color:#fff;
  display:inline-block;
  justify-content:center;
  padding:20px;
}

.arrow:hover,.arrow:focus{
	right: 15px;
	bottom: 15px;
 	height: 45px;
	width: 45px;
	border-radius: 33px;
	font-size: 20px;
}



table{
	padding: 10px;
	width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.arrow {
  	right: 10px;
	bottom: 10px;
 	height: 40px;
	width: 40px;
	border-radius: 33px;
	font-size: 20px;
}

#tracker-content{
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#table-info{
	display: flex;
}

#date{
	padding: 10px;
	font-size: 30px;
}

#expense-table{
	display: flex;
}

#expense-div{
	display: inline-flex;
	flex-direction: column;
}



#modal-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.85);
}

#add-expense-modal{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1010;
	overflow: scroll;
}

.hidden {
	display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

#modal-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

#modal-cancel,
#modal-accept {
  margin-right: 20px;
}

#modal-cancel {
  color: #333;
  background-color: #fff;
}

#modal-cancel:hover {
  background-color: #eee;
}
